<div class="limiter">
  <header class="topHeader">
    <div class="col-lg-4 col-sm-12"></div>
    <div class="col-lg-4 col-xs-12 col-sm-6 col-md-4">
      <img src="../../assets/images/logo.png" class="img-responsive" alt="">
    </div>

  </header>

  <div class="container-login100">
    <div class="container display-flex">
      <app-login-form></app-login-form>

      <div class="show-space col-lg-8 col-md-12 col-sm-12">
        <div class="container-fluid">
          <div class="col-lg-9">
            <h1>الضمان الاجتماعي</h1>
            <p>
              هنالك العديد من الأنواع المتوفرة لنصوص لوريم إيبسوم، ولكن الغالبية تم تعديلها بشكل ما عبر إدخال بعض
              النوادر أو الكلمات العشوائية إلى النص. إن كنت تريد أن تستخدم نص لوريم إيبسوم ما، عليك أن تتحقق أولاً أن
              ليس هناك أي كلمات
            </p>

          </div>
          <div class="col-lg-3">
            <img src="../../assets/images/phone.png" class="img-responsive smallLogoBack" alt="Mobile App"/>
          </div>
        </div>
        <br>
        <div class="container-fluid">
          <div class="row">

            <div class="col-lg-3 col-xs-6 col-sm-6 col-md-6">
              <a href="#">
                <img class="img-responsive"
                     src="../../assets/images/btn-iphone-app-store.png"
                     alt="تطبيق نظام IOS">
              </a>
            </div>
            <div class="col-lg-3 col-xs-6 col-sm-6 col-md-6">
              <a href="#">
                <img class="img-responsive"
                     src="../../assets/images/btn-google-play-store.png"
                     alt="تطبيق نظام اندرويد">
              </a>
            </div>
            <div class="col-lg-6">
              <p>تابع حسابك من خلال تطبيق الضمان الاجتماعي على الهواتف الذكية</p>
            </div>
          </div>

        </div>
      </div>

    </div>

  </div>

  <footer class="footer m-t-20">
    <p>
      جميع الحقوق محفوظة لمؤسسة الضمان الاجتماعي <br>تطوير شركة <a href="#">NewSoft</a>
    </p>
  </footer>


</div>
