<div *ngIf="!this.sentAuth" class="wrap-login100 p-t-20 col-lg-4 col-md-4 col-sm-6 col-xs-12 firstLogin">
  <form [formGroup]="emailAuth" class="login100-form validate-form flex-sb flex-w">

    <span class="login100-form-title p-b-20">
      تسجيل الدخول
    </span>


    <div class="wrap-input100 validate-input m-b-16" data-validate="الايميل مطلوب">
      <input [ngClass]="{'has-error':this.emailAuth.get('email').touched && (this.emailAuth.get('email').invalid)}"
             formControlName="email" class="input100" type="email" name="email" placeholder="البريد الالكتروني">
      <p *ngIf="this.emailAuth.get('email').touched && (this.emailAuth.get('email').invalid)">الرجاء ادخال بريد الكتروني صالح</p>
      <span class="focus-input100"></span>
    </div>


    <div class="flex-sb-m w-full p-t-3 p-b-5">

      <div class="row"></div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <div class="contact100-form-checkbox">
          <input
            class="input-checkbox100"
            id="ckb1"
            type="checkbox"
            name="remember-me"
          formControlName="remember">
          <label class="label-checkbox100" for="ckb1">
            تذكرني
          </label>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <a href="#" class="m-t-10">استعادة كلمة المرور</a>
      </div>
    </div>

    <div class="container-login100-form-btn m-t-17">
      <button [disabled]="this.emailAuth.invalid" class="login100-form-btn" (click)="validateEmail()">
        <span class="fa fa-arrow-left"></span>&nbsp;
        التالي
      </button>
      <a href="#" class="btn btn-sm login100-form-btn m-t-10">
        <span class="fa fa-building"></span> &nbsp;
        التسجيل
      </a>
    </div>


  </form>
</div>

<div *ngIf="this.sentAuth" class="wrap-login100 p-t-20 col-lg-4 col-md-4 col-sm-6 col-xs-12 secondLogin">
  <form [formGroup]="secondStepLogin" class="login100-form validate-form flex-sb flex-w">

    <span class="login100-form-title p-b-20">
      تسجيل الدخول
    </span>

    <h6>تم ارسال كود التحقق على البريد الالكتروني</h6>

    <div class="wrap-input100 validate-input m-b-16" data-validate="كلمة المرور مطلوبة">
      <input
        [ngClass]="{'has-error':this.emailAuth.get('email').touched && (this.emailAuth.get('email').invalid)}"
        formControlName="password" class="input100" type="password" name="username" placeholder="كلمة المرور">
      <p *ngIf="this.secondStepLogin.get('password').touched && (this.secondStepLogin.get('password').invalid)">الرجاء ادخال كلمة مرور من ٦ الى ٨ احرف</p>
      <span class="focus-input100"></span>
    </div>

    <div class="wrap-input100 validate-input m-b-16" data-validate="كود التحقق مطلوب">
      <input
        [ngClass]="{'has-error':this.emailAuth.get('email').touched && (this.emailAuth.get('email').invalid)}"
        formControlName="validationCode" class="input100" type="text" name="username" placeholder="كود التحقق">
      <p *ngIf="this.secondStepLogin.get('validationCode').touched && (this.secondStepLogin.get('validationCode').invalid)">الرجاء ادخال كود التحقق</p>
      <span class="focus-input100"></span>
    </div>


    <div class="container-login100-form-btn">
      <div class="btn-group">
        <button [disabled]="this.secondStepLogin.invalid" class="btn login100-form-btn" (click)="loginHandler()">
          <span class="fa fa-arrow"></span>&nbsp;
          تسجيل الدخول
        </button>

        <button class="btn login100-form-btn" (click)="backStep()">
          <span class="fa fa-arrow-right"></span> &nbsp;
          الرجوع للخلف
        </button>

      </div>
    </div>
  </form>
</div>
